
/* HEADER */

header{
    color: white;
}

.nav-link:hover{
    text-decoration: underline;
    color:white;
    
}

button.navbar-toggler{
    color: white;
    opacity: 0.5;
}

.navbar-toggler-icon{
    background-color: white;
}

.active{
    font-weight: bold;
    text-decoration: underline;
}